<h1>Rock, Paper, Scissors</h1>
<hr />
<h2>Let's Play! Choose One:</h2>
<a href="/rps?choose=rock" data-method="post" rel="nofollow"><img alt="Rock" width = 200 height = 180 <%=image_tag 'rock' %></a>
<a href="/rps?choose=paper" data-method="post" rel="nofollow"><img alt="Paper" width = 200 height = 180 <%=image_tag 'paper' %></a>
<a href="/rps?choose=scissors" data-method="post" rel="nofollow"><img alt="Scissors" width = 200 height = 180 <%= image_tag 'scissors'%> </a>

