<h1>Dice Game</h1>
<hr />
<h2>Welcome.</h2>
<p>Here are the rules:</p>
<li>Roll the dice to start the game.</li>
<li>If your first roll is a 7 or 11, you win.</li>
<li>If your first roll is a 2, 3 or 12, you lose.</li>
<li>Anything else becomes your point. Roll your point again before a 7 and you win.</li>
<h2><form action="/dice/roll" class="button_to" method="post"><div><input class="btn btn-success btn-large" type="submit" value="Roll to start the game!" /></h2>
